@charset "UTF-8";
/* CSS Document */

:root{
  --blur: blur(6px);
	--greenColor: rgba(40,212,25,0.75);
}
html {
	overflow: hidden;
}
body {
	/*transition: all 1.2s;
    transition-property: all;
    transition-duration: 1.2s;
    transition-timing-function: cubic-bezier(0, 0.04, 0.07, 0.93);
    transition-delay: 0s;*/
	margin: 0;
	color: #FFFFFF;/*#000000*/
	font-family: /*"Whitney SSm A", "Whitney SSm B", */"Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
}

.inactive{
	-webkit-filter: var(--blur);
	-moz-filter: var(--blur);
	-o-filter: var(--blur);
	-ms-filter: var(--blur);
	filter: var(--blur);
	transform: scale(0.65);
}
div > h2{
	 text-align: center;
}


#questions {
	border: 3px solid white;
	width: 100vw;
	height: 100vh;
	position: relative;
	/*background-color: hsla(43,65%,69%,1.00);*/
	transition-property: all;
    transition-duration: 5.0s;
	transition-timing-function: cubic-bezier(0.13, 0.79, 0.21, 0.93);
    transition-delay: 0s;
	border-style: inset;
	/*hsla(0,0%,0%,1.00)*/
}
.QuestionBox {
	/*border-style: inset;*/
	width: inherit;
	height: inherit;
	z-index: -1;
}
.question {
	align-content: center;
	font-style: oblique;
	justify-content: center;
	text-align: center;
	align-self: center;
	width: 20vw;
	height: auto;
	position: absolute;
	background-color: #595959;
	border: 0.0625em solid #FFFFFF;
	/*border radius determines circular corners*/
	border-radius: 1em;
    transition-property: all;
    transition-duration: 1.2s;
	transition-timing-function: cubic-bezier(0.13, 0.79, 0.21, 0.93);
    transition-delay: 0s;
	padding: 0.6em;
	text-shadow: 1px 1px 3px #050505;
}
.done{
	align-content: center;
	font-style: oblique;
	justify-content: center;
	text-align: center;
	align-self: center;
	width: 20vw;
	height: auto;
	position: absolute;
	background-color: #595959;
	border: 0.0625em solid #FFFFFF;
	/*border radius determines circular corners*/
	border-radius: 1em;
    transition-property: all;
    transition-duration: 1.2s;
	transition-timing-function: cubic-bezier(0.13, 0.79, 0.21, 0.93);
    transition-delay: 0s;
	padding: 0.6em;
	text-shadow: 1px 1px 3px #050505;
}

button{
	color: #DEDEDE;
	background-color: hsla(0,0%,22%,1.00); 
	/*hsla(0,0%,49%,1.00)*/
	align-content: center;
	font-style: normal;
	justify-content: center;
	text-align: center;
	align-self: center;
	transition: all 1.2s;
    transition-property: all;
    transition-duration: 1.2s;
	transition-timing-function: cubic-bezier(0.13, 0.79, 0.21, 0.93);
    transition-delay: 0s;
	padding: 0.4em;
}
button:hover{
	
	box-shadow: 1px 0px 3px 1px #D7D7D7;
}
.answer {
	font-size: 0.9em;
	border-radius: 15px;
	background-blend-mode: lighten;
}
#timer{
	opacity: 0.0;
	transition-property: all;
    transition-duration: 5.0s;
	transition-timing-function: cubic-bezier(0.13, 0.79, 0.21, 0.93);
    transition-delay: 0s;
}
.active {
	z-index: 3;
}
.acceptedTag {
	opacity: 0.0;
}

#animation {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}
#animationmed {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}
#animationfast {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}